.videoEstilos {
  cursor: pointer;
}

.videoEstilos::after {
  content: 'CATÁLOGO';
  display: block;
  background-color: #2723237d;
  margin: auto;
  margin-top: -140px;
  text-align: center;
  position: relative;
  z-index: 33;
  top: -73px;
  font-family: Outfit;
  max-width: 182px;
  color: #fff;
  font-size: 21px;
  cursor: pointer;
  padding: 11px;
}
