.containerColors {
    margin:7px 0 7px 0 ;
    display: flex;
    gap: 5px;
}
.pickerSelect {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 2px;
    cursor: pointer;
    border: .5px solid #cbcbcb;
    border-radius: 18px;
}
.colorSelector {
    background-color: #cbcbcb; 
    height: 100%;
    width: 100%;
    border-radius: 100%;
}


.ab
,.abeto
,.acdblu
,.aceite
,.aceituna
,.aceitunamelange
,.acidowash
,.acidsky
,.acidwash
,.acidwashtorn
,.acorn
,.actblulegink
,.adobe
,.adr
,.adriatic
,.africano
,.agave
,.agua
,.aguaclara
,.aguamarina
,.alamo
,.albaricoque
,.albury
,.allblackfrostgray
,.allblackgravitytitan
,.alloy
,.alloytruegreywhite
,.almendra
,.alpine
,.alpine1
,.alumina
,.aluminio
,.ambar
,.amber
,.amendoa
,.americana
,.angora
,.animalprint
,.anthracite194007tcx
,.antique
,.antiquewhite
,.aop
,.apache
,.apricot
,.apricotcrush
,.aqu
,.aquifer
,.aquiferprint
,.arcilla
,.arcoiris
,.arcticfusion
,.arganoi
,.army
,.art
,.artichoke
,.aruba
,.ash
,.ashgreashgrerefsil
,.ashgrey
,.asphalt
,.astro
,.at4
,.atlantic
,.atlantis
,.auberginewhite
,.auburn
,.avalon
,.avellana
,.avena
,.avenamelange
,.aviatornavy
,.avocado
,.azcla
,.azucar
,.azufreblack
,.babybedford
,.babymalva
,.babypeach
,.babypistacho
,.babypistacholistado
,.banana
,.barbie
,.barbiefashion
,.bark
,.base
,.basico
,.basil
,.basilnegro
,.batik
,.bb2
,.bckashgrey
,.bcomarino
,.bcomulti
,.beachglass
,.beaned
,.beetle
,.begiheder
,.beig
,.bellflower
,.bellflowerprint
,.bermuda
,.berry
,.betterscarlet
,.bgm
,.bibiobleach
,.bichi
,.bicolor
,.biobleach
,.biobleach1
,.biolight
,.biolight1
,.bioligth
,.biomaiz
,.biomineral
,.biostonehb
,.bitono
,.bk
,.bkw
,.black
,.black4
,.blackalloycobaltpewter
,.blackalloycobaltwhite
,.blackashgrey
,.blackbeauty
,.blackblack
,.blackblackblack
,.blackblacktrgry8
,.blackblacktruegrey8
,.blackblackwhite
,.blackblackwhitegum
,.blackblock
,.blackcamo
,.blackcarbongrey
,.blackcarbonwhite
,.blackchar
,.blackcharcaol
,.blackcomplete
,.blackcream
,.blackcroco
,.blackcuadro
,.blackforest190315tpx
,.blackgrain
,.blackgray
,.blackgray
,.blackgrein
,.blackgrey
,.blackgrey7rwhiterose
,.blackgreyheathrwhite
,.blackgreywhite
,.blackgreywhitepnk
,.blackgreywhtslvr
,.blackgs
,.blackgums
,.blackheather
,.blackhorizon
,.blackice
,.blackiris
,.blackironmetironmet
,.blackironmtironmt
,.blackivory
,.blackleopardgradientiea
,.blacklimegraphite
,.blacklines
,.blackmediumgreyheatherwhite
,.blackmetallictaupe
,.blackmgreyhwhite
,.blackmonumentwhite
,.blackmulti
,.blackmulti2
,.blackneolim
,.blackneonlimewhite
,.blackout
,.blackpalms
,.blackpebble
,.blackprint
,.blackprint
,.blackpropnkwhite
,.blackquietshadegojiberry
,.blackreflective
,.blackroses
,.blacksas
,.blackscarlet
,.blacksolid
,.blackstone
,.blackstormyweather
,.blacktan
,.blacktrgry8trugr7
,.blacktropicalflower
,.blacktruegrey5sahara
,.blacktrugr7horblu
,.blackvanilla
,.blackwash
,.blackwhite
,.blackwhite
,.blackwhite
,.blackwhiteblack
,.blackwhitegrey
,.blackwhiteguavapunch
,.blackwhitelightgum
,.blackwhiteneolim
,.blackwhitescarletibis
,.blackwhitevermillion
,.blackwhitewhite
,.blackwht
,.blafucs
,.blanca
,.blanco
,.blanco1
,.blanco2
,.blanco3
,.blancoa
,.blancoarte1
,.blancoarte2
,.blancobolas
,.blancobrillantepurpurina
,.blancocarton
,.blancoconraya
,.blancocremoso
,.blancocremosoestampado
,.blancocremosoice
,.blancocremosolistado
,.blancocremosomalva
,.blancocremosonegroprint
,.blancocremosoocre
,.blancocremosoplomostone
,.blancocremosoprint
,.blancocremosoprint
,.blancodot
,.blancodstyr
,.blancoesmeralda
,.blancoestampado
,.blancoestampadonegro
,.blancofloral
,.blancoflower
,.blancofrenchvanilla
,.blancofrio
,.blancohojas
,.blancohumo
,.blancojaspe
,.blancolacre
,.blancolacrorojizo
,.blancolemon
,.blancolistado
,.blancomaiz
,.blancomalva
,.blancomedio
,.blancomelange
,.blancominiprint
,.blancomulticolor
,.blanconavy
,.blanconegro
,.blanconegro
,.blanconegro
,.blanconegro6
,.blanconude
,.blancooff
,.blancooffplata
,.blancoop
,.blancopandeplata
,.blancoplata
,.blancoprint
,.blancoprint1
,.blancoprint2
,.blancoprint3
,.blancorayas
,.blancorayas
,.blancorubi
,.blancotandori
,.blancotopo
,.blancovarios
,.bleach
,.bleachdstyr
,.bleachfulldstyr
,.bleachgrey
,.bleachhb
,.bleachhb
,.bleachst
,.bleachst
,.bleachtorn
,.blech
,.bleg
,.blk
,.blkleadwhtpwtr
,.blneg
,.blulag
,.blunitwhite
,.blush
,.bmk0
,.bolas
,.bombay
,.bordeaux1
,.bordo
,.bossanova181547tpx
,.botella
,.brandy
,.brgm
,.brgundygrywht
,.bri
,.brick
,.bridal
,.brightcyan
,.brightroyal
,.bristol
,.brnheather
,.brnheather4315
,.bronce
,.bronze
,.broyalscarlewhite
,.bruguer
,.bsn0
,.buestel
,.bulgarianrose
,.bunblu
,.bur
,.burdeo
,.burdeos
,.but
,.butter
,.c1
,.c2
,.cacao
,.cactus
,.cafe
,.cafecafe
,.cafecaramelo
,.cafecarameloecru
,.café
,.calabaza
,.calendula
,.california
,.calipso
,.cam
,.camardin
,.camo
,.camoblack
,.camocharcoalblack
,.camote
,.campanula
,.camu
,.camuflado
,.camurcabege
,.camurcanegro
,.can
,.canela
,.cangrejo
,.cantaloupe
,.canteen
,.canteloupe
,.canten
,.canton
,.canton1
,.caqui
,.caramel
,.caramelo
,.carbon
,.carboncarbonclearmint
,.carboncblackgretwo
,.carbonclaro
,.carbonfoc
,.carbonoscuro
,.carbons18coreblack
,.cardinal
,.carey
,.carmesi
,.carmesilistado
,.carmesiprint
,.carton
,.castaño
,.castor
,.castor1
,.cay
,.cayenne
,.cblackcblackdgsogr
,.cblackcblackftwwht
,.cblackchemetftwwht
,.cblackfocoraftwwht
,.cblackftwwhtftwwht
,.cblackftwwhtgresix
,.cblackftwwhtgretwo
,.cblackgresixscrpnk
,.cblackironmtftwwht
,.cblackironmtorbind
,.cblackscrgrngrethr
,.cblackwhite
,.cedar
,.celes
,.celestial
,.celpastelmelange
,.cemento
,.cemento1
,.cementobb
,.cementoclaro
,.cementoivory
,.cementopastel
,.ceniza
,.cenizogray
,.cereza
,.champagne
,.char
,.charblac
,.charcamo
,.charcoa
,.charcoal
,.charcoal1
,.charcoal840
,.charcoalblack
,.charcoalblack
,.charcoalblackforgetmenot
,.charcoalblackmellowrose
,.charcoalblacksteelgrey
,.charcoalcemento
,.charcoalclaro
,.charcoalcuadros
,.charcoalgray
,.charcoalgrey
,.charcoaljaspe
,.charcoallightmelange
,.charcoallistado
,.charcoalmedio
,.charcoalmelange
,.charcoalmelange
,.charcoalmixed
,.charcoalpetrol
,.charcol
,.charolmarino
,.check1
,.check2
,.check3
,.cherry
,.cherrytomato
,.chestnut
,.chicle
,.chiclebb
,.chicleclaro
,.chiclemelange
,.chicleoscuro
,.chili459
,.chino
,.chirivia
,.chocolate
,.cielo
,.cielolistado
,.cinamon
,.cinnamon
,.cipres
,.ciruela
,.citrus
,.citruspear
,.classicwhite
,.clay
,.cloudburst
,.cloudmetwhite
,.cnegro
,.coal
,.coastal
,.coastalbl
,.cob
,.cobalt
,.cobaltnavygreywhite
,.cobalto
,.cobaltomelange
,.cobaltonegro
,.cobaltoprint
,.cobert
,.cobre
,.cobrenude
,.coco
,.coco114300tpx
,.cocoa
,.cocoa1
,.cocoaclaro
,.cocoanobu
,.cocoaoscuro
,.coconut
,.coconutmilk
,.coconutvanilla
,.coffe
,.coffee
,.coffeebean
,.cognac
,.cogñac
,.coldgreysoldtealwhite
,.colegial
,.colgr6colgr6
,.collegiatenavy
,.collegiatenavywhite
,.collnavycrushcoba
,.color1
,.color11
,.color1c
,.color2
,.color3
,.color4
,.color5
,.color6
,.color7
,.color8
,.color9
,.coloresvivos
,.colorful
,.colorlines
,.colors
,.colortipo1
,.colortipo2
,.comando
,.comb1
,.comb2
,.comb3
,.comb4
,.comb5
,.combinationivory
,.combo
,.combo1
,.combo2
,.combo3
,.combo4
,.con
,.conac
,.conavy
,.concrete
,.conejo1
,.confeti
,.cont
,.contaminado
,.contfoc
,.conve
,.coolgray9cgravtitallbla
,.coolwip
,.cooper
,.copodenievejaspe
,.cor
,.corazon
,.corcho
,.cordovan
,.core
,.coreblack
,.coreblackcarbon
,.coreblackcarboncoreblack
,.coreblackcarbons18
,.coreblackcoreblack
,.coreblackcoreblackftwrwhite
,.coreblackcoreblackgreythree
,.coreblackftwrwhitecarbon
,.coreblackftwrwhitecoreblack
,.coreblackftwrwhiteftwrwhite
,.coreblackftwrwhiteftwrwhite
,.coreblackgreyfivef17white
,.coreblackwhitecoreblack
,.corewhite
,.corn
,.cornstalk
,.couio
,.covert
,.coñac
,.cra
,.crackystonedstyr
,.cranberry
,.cre
,.cre0
,.cream
,.cremita
,.cremoso
,.crewnavi
,.crimson
,.crista
,.crudo
,.crue
,.crystal
,.crystalwhite
,.cuadroplomo
,.cuadros
,.cuadros1
,.cuadros2
,.cuadros3
,.cuadrosgales
,.cuadrosnegros
,.cupcakes
,.curry
,.cyan
,.cyp
,.cypres
,.cypress
,.d32
,.d88
,.damasco
,.daphne
,.dark
,.dark1
,.darkacid
,.darkapple
,.darkapplehb
,.darkarmy
,.darkblack
,.darkbleach
,.darkcharcoal
,.darkcobalt
,.darkcoffe
,.darkforest
,.darkgray
,.darkgrey
,.darkgrey1
,.darkgreyheath
,.darkgreyheather
,.darkgreymelee
,.darkhikercamo
,.darkkhaki
,.darkkhaky
,.darkmel
,.darkmel1
,.darkmelange
,.darkmilitary
,.darkmint
,.darknavy
,.darknavy
,.darknavywhite
,.darknavywhitevermillion
,.darkozone
,.darkroyal
,.darksapphire
,.darksky
,.darkslate
,.darksteel
,.darkstone
,.darkstrong
,.darktaupeboysenberry
,.darkwash
,.dashgrey
,.db
,.dee
,.deecobblackwhite
,.deep
,.deepsea
,.deepteal
,.deepteel
,.degradecelete
,.delft
,.desert
,.desglw
,.desierto
,.dgreyh
,.dgreyhreacor
,.di
,.diamante
,.diamantecont
,.diamantefoc
,.diamcont
,.dijon
,.dimanantefro
,.dinosaurio
,.dirty
,.dirtybleach
,.dirtystone
,.dirtystonehb
,.dkcoffe
,.dksliver
,.dksto
,.dkwash
,.dngm
,.dobleairon
,.drb
,.durazno
,.dus
,.dusk
,.dust
,.dustygrape
,.dustyrose
,.earthstrata
,.eclipsar
,.eclipse
,.ecru
,.ecrujaspe
,.ecrunegro
,.ecruprint
,.egru
,.egrujaspe
,.elefante
,.elk
,.elmwood
,.emerald
,.enebluprintmsilve
,.energy
,.ermine
,.esb
,.esmerald
,.esmeralda
,.est1
,.est2
,.estammentapastel
,.estampado
,.estampado1
,.estampado2
,.estampadoennegro
,.estampivory
,.estampsalmónpastel
,.estampturqmed
,.estampuva
,.estivory
,.estlavanda
,.estrella
,.estterracota
,.eve
,.fad
,.fadedrose
,.fantasia
,.felton
,.fierro
,.fiesta
,.fig
,.fir
,.fire
,.fire1
,.fkm
,.fla
,.flame
,.flamescarlet
,.flamingo
,.flint
,.flintgrey
,.flintstone
,.flor
,.floral1
,.floral2
,.flores
,.flower
,.flower
,.flower1
,.fog
,.foil
,.follaje
,.fondonegroconfloresyhojas
,.forest
,.forestnight
,.forgedir
,.foxglove
,.frenchroast
,.frenchvanilla
,.fresa
,.fresaoscuro
,.fresaprint
,.freshmint
,.fro
,.frostbleach
,.frostgray
,.frostmelagehb
,.frostmelange
,.frostmelangest
,.frostmelangetorn
,.frostsky
,.fruit
,.fs6
,.ftwrwhite
,.ftwrwhitecoreblack
,.ftwrwhiteftwrwhitecybermet
,.ftwrwhiteftwrwhitegreytwof17
,.ftwrwhitegrey
,.ftwrwhitegreytwo
,.ftwrwhitenavy
,.ftwrwhiteplatinmetftwrwhite
,.ftwwhtcblackftwwht
,.ftwwhtcblacksiggnr
,.ftwwhtftwwhtcblack
,.ftwwhtftwwhtvioton
,.ftwwhtmintonhalmin
,.ftwwhtmsilvecarbon
,.ftwwhtwonwhiorbgrn
,.fuego
,.fullflores
,.fullprint
,.fuschia
,.fushia
,.fuxia
,.fuxiaprint
,.fwy
,.fx2
,.fx5
,.fz4
,.gables
,.galapitchgray
,.gales
,.galescafe
,.galesflores
,.gamnegro
,.gamplomo
,.gamuzacaramel
,.gamuzamarino
,.gamuzamarino1
,.gamuzanegro
,.gar
,.garden
,.gec
,.georgiapeach
,.geranium
,.ging
,.ging1
,.ginger
,.glacier
,.glazedgi
,.glf
,.glitterwhite
,.gml
,.graffittimel
,.graffittimelange
,.granate
,.granateblanco
,.granateclaro
,.granite
,.granito
,.grape
,.grapeleaf
,.graphite
,.graphitelime
,.graphitewash
,.grarwhblack
,.gravel
,.gravitygrey
,.gray
,.gray173911tcx
,.graydstyr
,.graymelange
,.graystone
,.graytorn
,.grefourcoreblackgrethree
,.grenadine
,.gresixgresixcblack
,.grey
,.grey1
,.greyasphalt
,.greyblack
,.greyblackwhite
,.greyblackwhite1
,.greyclaro
,.greyfive
,.greyfourf17vapourgreymetf16chalkwhite
,.greyftwwhtlgtorc
,.greyheater
,.greyheather
,.greyheather1
,.greyheather2
,.greyhther
,.greyice
,.greylightblack
,.greylightgrey
,.greymel
,.greymel1
,.greymelange
,.greyonef17greyfivef17
,.greyorngwhtpwtrgrey
,.greysas
,.greysix
,.greysixscarletftwrwhite
,.greystone
,.greytwo
,.greytwogreytwoftwrwhite
,.greywash
,.greywhite
,.greywhitegrey
,.guavapunch
,.guavapunchf17r
,.guiness
,.gum
,.gunmetal
,.gxv
,.gxy
,.gy8
,.gzmarino
,.gznegro
,.h96
,.habana
,.habano
,.habano1
,.habano2
,.habanonobu
,.hade
,.har
,.harbor
,.hash
,.hawaii
,.haze
,.hazel
,.hdg
,.hea
,.heathercharcoal
,.heathergrey
,.heaven
,.helecho
,.henna
,.her
,.heritagenavy
,.hibisco
,.hibiscomist
,.hibiscus
,.hiedra
,.hierba
,.hipobiobleach
,.hirere
,.hojas
,.honey
,.honeyreset
,.horizon
,.humo
,.humoclaro
,.hunter
,.ice
,.ice1
,.icedcoffee
,.icefoc
,.icefulldstyr
,.icegray
,.icemintftwrwhiteclearmint
,.icestreet
,.icewash
,.impala
,.incense
,.incienso
,.indifio
,.indigo
,.indigochalkpearlchalk
,.indigoclaro
,.indigoclaro
,.indigoheather
,.indigolavadoclaro
,.indigolavadomedio
,.indigolavadooscuro
,.indigolight
,.indigomagentagrey
,.indigomedio
,.indigomedio
,.indigooptico
,.indigowash
,.indigowhitenavy
,.indistone
,.inf
,.intblack
,.iron
,.island
,.italiano
,.ivory
,.ivory2
,.ivoryamarino
,.ivoryblack
,.ivorycrystal
,.ivorycuadros
,.ivoryestampado
,.ivoryfloral
,.ivoryflores
,.ivorygrey
,.ivoryheather
,.ivorylacre
,.ivoryladrillo
,.ivorylavanda
,.ivorylistado
,.ivorymedio
,.ivorymelange
,.ivorymelange
,.ivorymelangeprint
,.ivorymenta
,.ivoryminiprintflores
,.ivorynavy
,.ivorynegro
,.ivorynegrolistado
,.ivorynude
,.ivorypastel
,.ivorypepas
,.ivoryprint
,.ivoryprint
,.ivoryprintcebra
,.ivoryprintleopardo
,.ivoryrose
,.ivorytenue
,.ivorytropical
,.ivy
,.jade
,.jadedarkmetwhit
,.jadeite
,.jadeoscuro
,.jadepastel
,.jardin
,.jaspe
,.javagrain
,.jeans
,.jetblack
,.jirafa
,.jungle
,.justpeachy
,.kakhi
,.kaki
,.kakiclaro
,.kakimedio
,.kakimedioprint
,.kaky
,.kale
,.khaki
,.khaki1
,.khakiclaro
,.khakicuadros
,.khakinegro
,.khaky
,.khakyclaro
,.kit
,.kvj0
,.labgrn
,.lacre
,.lacre238
,.lacre4152
,.lacreblack
,.lacreclaro
,.lacreclaroprint
,.lacrecuadros
,.lacreestampado
,.lacreestampado
,.lacrejaspe
,.lacrelistado
,.lacremedio
,.lacremelange
,.lacrenegro
,.lacreoscuro
,.lacreprint
,.lacreprintleopardo
,.lacreprintpiton
,.lacretostado
,.ladrillo
,.ladrillogray
,.ladrillojaspe
,.lagoon
,.lagunaprofunda
,.lambswool
,.laser
,.lassiobarza
,.latte
,.lav
,.lava
,.lavado
,.lavado1
,.lavado2
,.lavadoclaro
,.lavadoice
,.lavadomedio
,.lavadonegro
,.lavadooscuro
,.lavanda
,.lavandabb
,.lavandaclaro
,.lavandapastel
,.lavender
,.lclaro
,.lead
,.leaf
,.legendink
,.legendinkf17
,.legendinkf17print
,.legendinklegendinkftwrwhite
,.legendinkwhiteblack
,.legendmarinegreys18
,.leginkmysinkaerblu
,.leginkwhiteblack
,.legmarrefsil
,.lemon
,.leopardgardienttea
,.leopardo
,.leopardo1
,.lezardnegro
,.lgrey
,.light
,.lightcamo
,.lightgray
,.lightgrey
,.lightgreyheather
,.lightkhaki
,.lightlavender
,.lightlime
,.lightmagenta
,.lightmarine
,.lightpeach
,.lightpistacho
,.lightsage
,.lightsky
,.lightwash
,.ligthwash
,.lil
,.lime
,.linea
,.linenstpalenudecloudwhite
,.lino
,.lirio
,.listado1
,.listado2
,.listado3
,.listadonegro
,.listuva
,.liteblack
,.lizard
,.lmedio
,.lodenfrost
,.londonfog
,.lrose
,.lt
,.ltcoffee
,.ltwash
,.lucidlemon
,.lucuma
,.luna
,.lunaresprint
,.lycravienanegro
,.macchiato
,.madera
,.maderado
,.maderadoclaro
,.maderadooscuro
,.maderadooscuroyclaro
,.magenta
,.magentaprint
,.maiz
,.maizclaro
,.maizempolvado
,.maizoscuro
,.mal
,.malangue
,.malibu
,.mallard
,.malva
,.malvaclaro
,.malvaempolvado
,.malvaoscuro
,.mandarina
,.mango
,.mangopastel
,.mantequilla
,.manzanilla
,.manzanillamedio
,.mar
,.marengo
,.marfil
,.marfiloro
,.marfiloscuro
,.marfilsucio
,.marine
,.marino
,.marinocalendula
,.marinodalia
,.marinofloral
,.marinolistado
,.marinoprint
,.marinoprint
,.mariposa
,.maritimo
,.marlasa
,.marmol
,.maroon
,.maroongreyruby
,.maroonmerlotblack
,.marrón
,.marrónmedium
,.marsala
,.marsalla
,.marshmellow114300tcx
,.marzipan
,.masrhmellow
,.masrmellow
,.mauve
,.mauveprint
,.mb
,.medianoche
,.medio
,.medioplomo
,.mediterranean
,.medium
,.mediumacid
,.mediumdark
,.mediumgreyheather
,.mediumstonewash
,.mediumwash
,.medwash
,.mel
,.melage
,.melange
,.melange10
,.melange2
,.melange3
,.melange3
,.melange4
,.melange5
,.melange8
,.melange800
,.melangeblanco
,.melangeblanco
,.melangeblancocremosolacre
,.melangeblanconegro
,.melangeblanconegro
,.melangecharcoal
,.melangechicle
,.melangechicleblanco
,.melangecla
,.melangeclaro
,.melangecremoso
,.melangeestampado
,.melangegray
,.melangegrey
,.melangehaspe
,.melangehb
,.melangeintermedio
,.melangeivory
,.melangejasp
,.melangejaspe
,.melangelacre
,.melangelistado
,.melangemedio
,.melangementa
,.melangenavy
,.melangenegro
,.melangeosc
,.melangeoscuro
,.melangepitonprint
,.melangeplomo
,.melangeprint
,.melangerayas
,.melangerayasnegro
,.melanje
,.melcremosoprint
,.melgryshdwstrmwhtslv
,.mellowrose
,.melocoton
,.melónoscuro
,.menta
,.mentablanco
,.mentaoscuro
,.mentaprint
,.merlot
,.merlotwhite
,.metalblack
,.metallictaupe
,.metalororos
,.metalrose
,.meteorgreyf17r
,.metgrycblackorbgry
,.mezclanegro
,.mghsolidgreyblack
,.mgreyh
,.mgreyhblack
,.mgreyhpripnk
,.mica
,.mid
,.middlegrey
,.midgrey
,.midnight
,.midnigth
,.midshachalkglapnk
,.midwash
,.miel
,.miel1
,.milanomarin
,.milanonegro
,.militar
,.militarmedio
,.military
,.militarycamo
,.milk
,.milk1
,.mineral
,.mineral20
,.mineral50
,.mint
,.mist
,.mix5
,.mixedgrey
,.moca
,.mocca
,.mocha
,.moka
,.mood
,.mopblack
,.mopbleach
,.mopice
,.mopsky
,.mora
,.moralistado
,.morganita
,.morita
,.moro
,.mr
,.multi
,.multi1
,.multi1
,.multi2
,.multicolor
,.multicolor1
,.multicolor2
,.multicolorblancocremoso
,.multimarino
,.multinegro
,.multiple
,.musgo
,.mustard
,.mustardwhitesteel
,.mutedclay
,.mysteryinkf17whitewhite
,.nacar
,.nacarbronce
,.napabege
,.napablanco
,.napablancooff
,.napamarino
,.napanegro
,.napanude
,.nat
,.natblack
,.natblack
,.natheather
,.natheatherblack
,.natheathersh04
,.natural
,.naturalblack
,.naturalblackst
,.naturalflores
,.naturalhb
,.naturalrayas
,.nau
,.nautical
,.nav
,.navy
,.navy1
,.navy2
,.navybermuda
,.navyblack
,.navycarotenewhite
,.navycobaltwhite
,.navycream
,.navydarkprint
,.navyfushia
,.navygraphitelime
,.navyheather
,.navyivory
,.navyjaspe
,.navykhaki
,.navylimegrey
,.navymelange
,.navyplata
,.navyprint
,.navypuntoblanco
,.navywhite
,.navywhitepwtr
,.navywhitevermillion
,.ne
,.neazme
,.neblina
,.nede
,.negbl
,.negfucs
,.negra
,.negraprint
,.negro
,.negro1
,.negro190303tpx
,.negro2
,.negro3
,.negro4
,.negro5
,.negro999
,.negroalmendra
,.negroanimalprint
,.negroarmy
,.negroatigrado
,.negrob
,.negroblanco
,.negroblanco
,.negroblancomelange
,.negrocafe
,.negrocblanco1
,.negroccobre
,.negrocereza
,.negrochicle
,.negrocobalto
,.negrocobalto
,.negroconbolasblancas
,.negrocontraste
,.negrocroco
,.negrodegrade
,.negrodot
,.negrodstyr
,.negroestampado
,.negroestampado
,.negrofantasia
,.negrofloral
,.negroflores
,.negroglitter
,.negroivory
,.negroj
,.negrojabonjasp
,.negrojaspe
,.negrojaspeado
,.negroladrillo
,.negrolatte
,.negroleopardoivory
,.negroleopardoprint
,.negrolistado
,.negromate
,.negromelange
,.negromelange
,.negromelangeblanco
,.negromelangeblancocremoso
,.negrominiprintflores
,.negromulticolor
,.negromulticolor
,.negromulticolor
,.negron
,.negronatural
,.negronegro
,.negronevado
,.negronudenatural
,.negropepas
,.negropetroleo
,.negroplata
,.negroplata
,.negroplomo
,.negroplomo
,.negroplomoplata
,.negroprint
,.negroprint
,.negropuntoblanco
,.negrorayas
,.negroserpiente
,.negrosolido
,.negrotendencia
,.negrotiedye
,.negrotiedyeprint
,.negrotorn
,.negrotransparente
,.negrotropical
,.negrovarios
,.neon
,.neonmenta
,.neutral
,.neutralgray
,.newkhaki
,.newnavy
,.ngrblncnude
,.niebla
,.night
,.nile
,.ningunocolor
,.niquel
,.nmblackgreywhiterefletive
,.nori
,.northsea
,.nougat
,.npblanco
,.npmarino
,.npnegro
,.nppelestrechblanco
,.nppelestrechnegro
,.npsemiperfurosnpsenseflex15745preto01
,.nscolor
,.nube
,.nude
,.nudedegrade
,.nudenegro
,.nudeoscuro
,.nuez
,.nut
,.nutria
,.oa
,.oatmeal
,.ob
,.obsirian193902tcx
,.oc
,.ocean
,.oceanic
,.oceano
,.ochremixedochre
,.ochremixedochrelavander
,.ocre
,.ocrecafe
,.ocrejaspe
,.ocremd
,.ocrenegro
,.ocreoscuro
,.offblack
,.offwhite
,.offwhite
,.oldbleach
,.oldbleach1
,.oldsteel
,.oldwash
,.oldwashhb
,.oli
,.oliva
,.onix
,.opal
,.operamauve
,.orbgryroyblumetgry
,.oro
,.oromate
,.oroviejo
,.orquidea
,.orquidia
,.oscolor
,.oso
,.otoño
,.otter
,.outerspace
,.ow
,.oxblood
,.oxi
,.oxid
,.oxidewash
,.oxido
,.oxido1
,.oxido2
,.oxihb
,.pacay
,.pacific
,.pacificb93
,.pale
,.paledogwood131404
,.palekhaki
,.palerose
,.palmbeach
,.palta
,.papel
,.papikra
,.paprica
,.paprika
,.pardo
,.parrot
,.pea
,.peach
,.peaches
,.peacot
,.pec
,.pecana
,.pelblanco
,.pepper
,.peppercont
,.pepperfoc
,.pepperosc
,.perico
,.perla
,.perlanegro
,.perro
,.petrol
,.petroleo
,.petrolnightf17
,.petwer
,.pewter
,.pha
,.phantom
,.piedepool
,.piedra
,.piel
,.pino
,.pirateblack
,.pistaccho
,.pistacho
,.pistachoestampado
,.pistachonegro
,.pistachoprint
,.pizarra
,.piñon
,.plage
,.plaid
,.plantation
,.plata
,.plataclaro
,.platafantasia
,.platamate
,.platamelange
,.platatornasol
,.plateado
,.plomo
,.plomoclaro
,.plomocolegial
,.plomofloral
,.plomogales
,.plomomedio
,.plomomelange
,.plomooscuro
,.plomoplata
,.plomoplatajaspeado
,.plomoprincipedegales
,.plomorata
,.plummetwhite
,.policia
,.pomegranate
,.pool
,.por
,.porcelacoldgrey4black
,.port
,.powderblack
,.powderwhite
,.powerblack
,.powersteel
,.powerstone
,.powpnkftwwhtsigpnk
,.principedegales
,.prink1
,.prink2
,.print
,.print1
,.print1fondoclaro
,.print2
,.print2
,.print2fondooscuro
,.print3
,.print4
,.print5
,.print6
,.printblanco
,.printblancolacre
,.printbolas
,.printcebra
,.printcuadros
,.printed
,.printend
,.printfloral
,.printflores
,.printfondonegro
,.printfresa
,.printhumo
,.printivory
,.printkakimedio
,.printlacre
,.printleopardo
,.printleopardo1
,.printleopardo2
,.printmaiz
,.printmalva
,.printmelange
,.printnegro
,.printpalm
,.printpiton
,.printplomo
,.printrayas
,.printrose
,.printsago
,.printtiedye
,.printuva
,.printvichy
,.provence
,.publack
,.pumblpumwt
,.pumking
,.pur
,.purpura
,.purpuraflores
,.puttygrey
,.puttymauve
,.quarry
,.rainbowprint
,.rapport
,.rapportnavy
,.raspberry
,.rata
,.raven
,.raw
,.rawindigoftwrwhitegreythreef17
,.rawwash
,.rayas
,.rayas1
,.rayas2
,.rayasblanco
,.rayaschicas
,.rayasestampado
,.rayasnegras
,.rayasnegro
,.rayasrojas
,.reacorwhite
,.realmagentalegendinkwhite
,.realtea
,.realteal
,.riceflour
,.riceflourgardienttea
,.rinse
,.riv
,.river
,.roca
,.rock
,.rojbl
,.roolbosstea181355tpx
,.rose
,.rose1
,.roseas
,.roseberry
,.roseblack
,.roseblossom
,.rosedust
,.rosee
,.roseivory
,.roselistado
,.rosenegro
,.rosepale
,.roseprint
,.rosetone
,.rosette
,.ross
,.rosse
,.rossprint
,.rous
,.royal
,.royal
,.rubi
,.ruggedroseblackwhite
,.rus
,.rust
,.rusticbrow
,.rustlistado
,.rw
,.safari
,.safron
,.sag
,.sage
,.sago
,.salmónmedionegro
,.salmónpastel
,.salmónpastelcharcoal
,.salsa
,.salt
,.saltwaterrns
,.sangria
,.sauce
,.scarlet
,.scarletblackwhite
,.scarletcoreblackwhite
,.sea
,.seafoam
,.seagla
,.seaglass
,.seapine
,.seashell
,.seaspray
,.sepia
,.sesopksesopkwhite
,.shadowgreywhitecobalt
,.shadownavy
,.shark
,.shockcyanlegendink
,.shopinshopincblack
,.shopinshopinwhite
,.shopnkcoreblackshopnk
,.siciliano
,.siena
,.sienna
,.sierra
,.sil
,.skanewash
,.skd
,.skin
,.sky
,.sky1
,.skydiver
,.skydstyr
,.skyfulldstyr
,.skyhb
,.skypastel
,.skyst
,.skytorn
,.slamwhitewhite
,.slate
,.slaterose
,.sme
,.sme1
,.smoke
,.smokyvolcanos18r
,.smovol
,.snake
,.snakeblack
,.sno
,.snoke
,.snorkel
,.snowmel
,.snowwhite
,.softgrey
,.softivory
,.solar
,.solid1
,.song
,.spark
,.spearmint
,.specksteel
,.spray
,.spruce
,.ss
,.ssw
,.ssw
,.ssw
,.st
,.ste
,.stealth
,.steel
,.steeldarkgrey
,.steelmelange
,.steelprint
,.steelstripes
,.steeplegrey
,.stell
,.stellar
,.sti
,.stnaple
,.sto
,.stone
,.stoneblack
,.stoneblackhb
,.stoneblackst
,.stoneblacktorn
,.stonedalia
,.stonefoc
,.stonegrayhb
,.stonegrey
,.stonehb
,.stonehb
,.stoneheather
,.stoneoxi
,.stonest
,.stonetorn
,.stonewash
,.stonewashmedio
,.storm
,.stormyweather
,.stormyweatherblack
,.stranger
,.straw
,.string
,.stripe1
,.stripe2
,.strong
,.sun
,.sundance
,.sunflower
,.sunny
,.sunset
,.sunshine
,.superstone
,.superstonedstyr
,.superstonefdstyr
,.superstonehb
,.superstonehb
,.superstonest
,.superstonestratch
,.superstonetorn
,.superwhite
,.surtcharcoal
,.surtcolor
,.surtcolor
,.surtcolor1
,.surtcolor2
,.surti
,.surtido
,.surtido1
,.surtido2
,.surtidocolor
,.surtidometal
,.surtidonegro
,.surtidoojodevidrio
,.surtnegro
,.sw
,.sweetrasperry
,.tabaco
,.tabasco
,.tan
,.tanbrn
,.tanclaro
,.tandori
,.tandoriclaro
,.tandoriespecial
,.tandorilistado
,.tandorioscuro
,.tandoriprint
,.tangerine
,.tanwhite
,.tar
,.tau
,.taupe
,.taupe1
,.taupenegro
,.taupeoscuro
,.tawnyport
,.tcmarino
,.tcnegro
,.tcrackystone
,.tea
,.teal
,.teal417
,.teal4173
,.techindigo
,.techinkftwrwhite
,.techinkftwrwhiterawgreys18
,.techinkgreysixlightgranite
,.tecidoknitnegro
,.tecidoknitnude
,.tecindleginkcblack
,.tee
,.teel
,.tejajaspeado
,.telasportvzpremiummarino
,.telasportvzpremiumnegro
,.telatechlycravienaprotectionmarino
,.telatechlycravienaprotectionnegro
,.terracota
,.terracotalistado
,.terrazo
,.tiedyeblack
,.tierra
,.tigerly
,.tigreysteel
,.tinto
,.titanio
,.titanium
,.tiza
,.toast
,.tofee
,.toffe
,.toffee
,.toffy
,.tomate
,.tomato
,.topo
,.topoclaro
,.topoprintchita
,.tornasol
,.tortoisesh
,.tortouse
,.tostado
,.totalacidobleach
,.totalbioblackdstyr
,.totalbionaturalhb
,.totalblack
,.totalblackdstyr
,.totalblackhb
,.totalblacktorn
,.totalbleach
,.totalbleachdstyr
,.totalbleachdstyr1
,.totalbleachfull
,.totalbleachhb
,.totalbleachst
,.totalbleachst
,.totalbleachtorn
,.totalbleachtorn1
,.totalcrackybleachhb
,.totalcrispywash
,.totalcrispywashhb
,.totaldarkapple
,.totaldiesel
,.totaldieseloxitorn
,.totaldirtystonedstyr
,.totalgray
,.totalgraydstyr
,.totalgrayhb
,.totalgrayst
,.totalgraytorn
,.totalgraytorn1
,.totalice
,.totalicedstyr
,.totalicehb
,.totalicehb
,.totalicest
,.totalicetorn
,.totalmelange
,.totalnaturalhb
,.totalnaturaloxi
,.totalnaturaltorn
,.totaloxihb
,.totaloxist
,.totalsky
,.totalskydstyr
,.totalskydstyr1
,.totalskyfull
,.totalskyfulldstyr
,.totalskyhb
,.totalskyhb
,.totalskyst
,.totalskytorn
,.totalskytorn1
,.totalsmock
,.totalsmockdstyr
,.totalsmockhb
,.totalsmocktorn
,.totalstone
,.totalstonebl
,.totalstoneblack
,.totalstoneblackdstyr
,.totalstoneblackhb
,.totalstoneblackst
,.totalstonedstyr
,.totalstonedstyr1
,.totalstonegray
,.totalstonegraydstyr
,.totalstonehb
,.totalstonehb
,.totalstonest
,.totalstonetorn
,.totalstonetorn1
,.totalsuper
,.totalsuperstone
,.totalsuperstone1
,.totalsuperstonedstyr
,.totalsuperstonehb
,.totalsuperstonehb
,.totalsuperstonest
,.totalsuperstonetorn
,.totalwash
,.totcristtorn
,.totskydstyr
,.totstoneblacktorn
,.totstonetorn
,.totsuperstonehb
,.tradewindsgrey
,.transparente
,.travertine
,.treetop
,.tropicalblack
,.tskyfulldstyr
,.tsstonedstyr
,.tsstonehb
,.tstoneblack
,.tstoneblackfulldstyr
,.tsuperstonehb
,.tsupstone
,.tufo
,.tur
,.turkish
,.turmalina
,.turq2
,.turquoise
,.turquoisestripes
,.twnavywhitelightgum
,.ultramarino
,.unico
,.unicos
,.urbmar
,.urbvio
,.usa
,.usedwash
,.utilityblack
,.uva
,.uvaclaro
,.uvamedio
,.uvaoscuro
,.vainilla
,.vainillalacre
,.valnut
,.vanguardiapettit
,.vanilla
,.varios
,.vbotella
,.vclaro
,.vectornavy
,.velvet
,.verdoso
,.vermelho
,.vermillionwhiteblack
,.vernizblanco
,.vernizcaram
,.vernizcaramel
,.verniznegro
,.verniznegro1
,.verniznude
,.vernizrose
,.veryberryprint
,.vichy
,.vintage
,.vintagedark
,.viño
,.vmenta
,.vmilitar
,.vmilitar
,.vmusgo
,.volcanbeigwht
,.vrznegro
,.vzblanco
,.vzcaramelo
,.vznegro
,.walnut
,.washedblack
,.washedplum
,.washedroyal
,.water
,.watercolorfeathers
,.waterfall
,.wheat
,.whi
,.whi1
,.whisky
,.white
,.white1
,.whiteblack
,.whiteblack
,.whiteblackblack
,.whiteblackgrey
,.whiteblackgreyheather
,.whiteblackmgreyh
,.whiteblackscarle
,.whiteblackurbanchic
,.whiteblackvermillion
,.whitecamu
,.whitecap
,.whitedarknavy
,.whitedarknavyvermillion
,.whitefilanavymulti
,.whitefrostgraycarrot
,.whitegrapepunch
,.whitegravelblack
,.whitegrey
,.whitegrey
,.whitegreytwof17
,.whitehearther
,.whitehighrisewhite
,.whiteiron
,.whitelightgum
,.whitelollipopblack
,.whitemultiwhite
,.whitenightindigo
,.whiteoptic
,.whitepalms
,.whitepeacoatcapribreeze
,.whitepewter
,.whiteplum
,.whiteprint
,.whiterose
,.whitesilvmtreacor
,.whitesteelgum
,.whitetropical
,.whitetropicalflower
,.whitevermillionblack
,.whitewhite
,.whitewhite
,.whitewhiteblack
,.whitewhitemulti
,.whitewhitewhite
,.whitewhitewhitetingrey
,.whtblk1
,.wildberry
,.wildhoney
,.wildlaven
,.win
,.winda
,.winne
,.wiskey
,.wisky
,.witheblack
,.wonderclay
,.wondermauve
,.wonderorchid
,.wonderquartz
,.wondersteel
,.wonwhiftwwhtvappnk
,.ww0
,.yvory
,.yvorymelange
,.zaffron
,.zafiro
,.zigzag {
    background-color: azure !important;
}