.cardContainer {
  display: flex;
  align-items: center;
  padding: 7px;
  font-weight: 400;
  background-color: #ecebea;
  border-radius: 8px;
  color: var(--text-normal);
  font-size: 1.2rem;
  cursor: pointer;
  gap: 6px;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cardContainer:hover {
  background-color: rgb(230, 230, 230);
}
.cta {
  font-size: 13px;
  font-family: Outfit;
  margin: 0;
  text-align: center;
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.here {
  text-decoration: underline;
}
