.addButtonPDP {
    border: 1px solid #fff;
    font-size: 1rem;
    position: absolute;
    bottom: 20%;
    left: 30%;
    z-index: 1001;
    margin: auto;
    color: #fff;
    display: block;
    background: #0000003d;
    margin: auto;
    font-family: 'Outfit Light';
    padding: 12px;
    cursor: pointer;
}
