.slideWrapper {
    display: flex;
    position: relative;
    right: 0;
    transition: 0.5s ease;
  }
  
  .slideWindow {
    display: flex;
    overflow: hidden;
    border: 1px solid;
  }
  
  .simpleSlide {
    min-width: 100px;
    min-height: 100px;
  }
  
  .mainSlider {
    display: flex;
  }

  .rigthButton,.leftButton{
    border: none;
    height: auto;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
  }