.menuTitle{
display: flex
;
    justify-content: space-between;
    background-color: #fff !important;
    border: none !important;
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}
.menuTitle span{
    font-size: 1.5rem;
}
.sidebar {
  font-family: Outfit;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  /* max-width: 600px; */
  background-color: #fff;
  /* box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); */
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.open {
  background: transparent;
  transform: translateX(0);
}

.menuContainer {
  display: flex;
  height: 100%;
  width: auto;
  background: transparent;
  overflow: hidden;
}

.leftPanel {
        /* background: #F7F7F7; */
box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  border-top: 4px solid #e91111;
  width: 20%;
  background-color: #ffffff;
  border-right: 1px solid #eee;
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryItem {
  padding: .85rem;
  margin: .95rem;
  cursor: pointer;
    border-radius: .2rem;
  font-weight: 500;
  transition: background 0.2s;
    border-left: 4px solid transparent;
}


.categoryItem:hover,
.categoryItem.active {
  background-color: #eaeaea;
  border-left: 4px solid #e91111;
}

.rightPanel {
    width: 55%;
    padding: 1rem;
    background-color: #fff;
    overflow-y: auto;
    display: none;
    opacity: 0;
    border-radius: 0 1.3rem;
    transition: opacity 0.2s ease;
    position: relative;
    top: 4rem;
    /* gap: 2rem; */
}

.rightPanel.visible {
  display: block;
  opacity: 1;
}

.rightPanel.visible ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.subCategoryItem {
  padding: 0.75rem 0;
  cursor: pointer;
  color: #3f3f40;
}

.subCategory {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 24px;
    margin-right: 20px;
    line-height: 28.8px;

}

.subCategoryTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 0;
    border-radius: 3rem 0 4rem 3rem;
    color: #fff;
    background: linear-gradient(45deg, #b51d1d, #e91111);
    display: flex;
    align-items: center;
    width: fit-content;
    padding-right: 2rem;
}
.subCategoryTitle img{
    width: 3.5rem;
    height: 3.5rem;
    display: block;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}


.burger {
  background-color: white;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  font-family: Outfit;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: .5rem;
  transition: all 0.3s ease;
  outline: none;
}
.burger span {
    color: #3f3f40;
    font-size: 1.32rem;
    font-family: 'Outfit';

}
.burgerIcon,
.burgerIcon::before,
.burgerIcon::after {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #3f3f40;
    position: relative;
    /* top: px; */
    transition: all 0.3s ease;
}

.burgerIcon::before,
.burgerIcon::after {
  content: '';
  position: absolute;
  left: 0;
}

.burgerIcon::before {
  top: -8px;
}

.burgerIcon::after {
  top: 8px;
}

.closeButton {
    cursor: pointer;
    position: relative;
    border: none;
    background-color: transparent;
}

.closeBar1,
.closeBar2 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 24px; */
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  width: 20px;
  transform-origin: center;
}

.closeBar1 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.closeBar2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}


.burger.open .burgerIcon {
  background-color: transparent;
}

.burger.open .burgerIcon::before {
  transform: rotate(45deg);
  top: 0;
}

.burger.open .burgerIcon::after {
  transform: rotate(-45deg);
  top: 0;
}

.categoryIcon {
    margin-right: 1rem;
    border-radius: 50%;
    background: #e91111;
}


.groupBlock {
  margin-bottom: 1.5rem;
}

.groupTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.groupContainer{
    display: flex
;
    background-color: #FFFFFF;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    height: auto;
    max-height: 715px;
        /* gap: 2rem; */

}