@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
  --primary: #FF0013;
  --secondary: #D9A241;
  --assistant: #F4FFCE;
  --gray: #eaeaea;
  --font-black: #3A3333;
  --font-gray: #5f5959;
  --font-primary: 'Outfit', sans-serif;
  --line-countdown: '25px'
}

.countdownComponent,
.countdownComponentMulti,
.containerCountdownRegularAndChildren {
  max-width: 1200px;
  /* display: flex; */
  flex-direction: column;
  flex-direction: row;
  margin: 1rem 0rem 1rem 0rem;
  /* justify-content: center; */
  gap: 13px;
  border-radius: 8px;
  box-sizing: border-box;
}

/* .cont */
.containerCountdownRegularAndChildren {
  margin: 0rem 1rem 1rem 1rem;
}

.countdownIconImage {
  display: flex;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.countdownIconImage img {
  margin: 0 auto;
}

/* .containerCountDownWithBannerItems__titleAndDescription { */
/* margin: 0 auto 1.25rem auto; */
/* } */

.countdownList {
  display: flex;
  justify-content: flex-start;
}

.countdownListContent {
  margin: 0;
  padding: 0 0 0 3.5rem;
}

.countdownListItems {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #3A3333;
}

.titleAndDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 1.25rem 0;
}

.title {
  font-family: var(--font-primary);
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
}

.description {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  color: var(--font-gray);
  line-height: 20px;
  text-align: center;
  margin: 0;
}

.button {
  padding: .25rem .75rem;
  margin: .5rem auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  margin: .5rem auto;
}

.countdownCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
  font-size: 1.25rem;
  text-align: center;
  color: var(--font-black);
  margin: 1.75rem 0 1.5rem 0;
  box-sizing: border-box;
  /* position: absolute;
  bottom: -191px;
  z-index: 444;
  left: 21%; */
  /* bottom: 20%; */
}

.timeRemaining {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 52px;
  height: 52px; */
  width: 32px;
  height: 32px;
  font-family: 'Outfit';
  font-style: var(--font-primary);
  font-weight: 700;
  font-size: 17px;
  /* font-size: 24px; */
  line-height: 30px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 14px;
  /* margin: 0 auto; */
}

.timeRemainingText {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 11px;
  line-height: 14px;
  /* font-size: 14px;
  line-height: 18px; */
  text-align: center;
  margin: .15rem 0 0 0;
}

.countdownBanner {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  padding: 0;
}

.countdownBannerImage img {
  border-radius: 5px;
}

.countdownButton {
  display: flex;
  justify-content: center;
  margin: 1.25 auto;
}

.countdownButtonCta {
  width: 90%;
  max-width: 276px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary);
  padding: 0.7rem;
  border-radius: 40px;
}

/* .containerCountDownWithBannerPicture { */
/* display: none; */
/* } */

.containerCountdownRegular {
  display: flex;
  flex-direction: column;
}

.countdownBannerDesktop {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: center;
}

/*CONTADOR SIN BANNER*/

.countdownComponentSolo{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.countdownRegular {
  position: relative;
  max-width: 1200px;
  padding: 1.3rem;
  /* padding-top: 0; */
  border-radius: 8px;
  box-sizing: border-box;
}

.countdownRegular .titleAndDescription {
  margin: 0;
}

.countdownRegular .countdownCounter {
  margin: 15px 0 0 0;
  position: initial;
}

.countdownRegular {
  display: flex;
  flex-direction: column;
}

.countdownComponentWithBanner {
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
  position: relative;
}

.containerCountDownWithBannerItems {
  position: absolute;
  top: 18%;
  left: 18%;
}

/*FIN CONTADOR SIN BANNER*/

@media screen and (min-width: 47.9em) {




  .countdownRegular {
    padding-top: 1.3rem;
  }



  .containerCountDownWithBannerItems {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.25rem 0;
    margin: 0 auto; */
    width: 100%;
    max-width: 3%;
    top: 40%;
    /* position: absolute; */
    /* max-width: 35%; */
  }



  .countdownComponent,
  .containerCountdownRegularAndChildren {
    justify-content: space-between;
  }

  .containerCountDownWithBannerItems .containerCountDownWithBannerItems__iconImage .countdownIconImage {
    margin: 0;
  }

  .title {
    font-size: 1.5rem;
    line-height: 30px;
  }

  .description {
    font-size: 1rem;
    line-height: 18px;
  }

  .titleAndDescription {
    align-items: flex-start;
  }

  .countdownCounter {
    align-items: flex-start;
    margin: 0;
    padding-bottom: 1rem;
  }

  .timeRemaining {
    width: 40px;
    height: 40px;
    margin: 0 .62rem;
  }

  .timeRemainingText {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .countdownButtonCta {
    width: 95%;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  /* .countdownBanner {
    display: none;
  } */

  .containerCountDownWithBannerPicture {
    display: block;
    font-size: 0;
    width: 100%;
    /* max-width: 65%; */
  }

  .fullBanner {
    width: 100%;
    padding: 0 !important;
  }

  .countdownRegular {
    box-sizing: border-box;
    padding: 1.5rem;
  }

  /*CONTADOR SIN BANNER*/

  .countdownRegular .containerCountdownRegular {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .countdownRegular .title {
    font-size: 20px;
    line-height: 25px;
  }

  .countdownRegular .description {
    font-size: 14px;
    line-height: 18px;
  }

  .countdownRegular .countdownCounter {
    margin: 0;
  }

  .countdownRegular {
    flex-direction: row;
    justify-content: space-between;
  }

  .containerCountdownRegular,
  .titleAndDescription {
    order: -1;
  }

  /*FIN CONTADOR SIN BANNER*/
}

@media screen and (min-width: 63.9em) {
  .description {
    font-size: 1.13rem;
    line-height: 2.4rem;
  }

  .title {
    font-size: 1.81rem;
    line-height: 1.4rem;
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 15px;
  }

  .countdownComponent ,   .countdownComponentMulti{
    margin: 0rem auto;
    /* margin-bottom: 2rem; */
    padding: 0 !important;
    display: flex;
    gap: .8rem;
    margin-bottom: 1rem;
    /* flex-direction: row */
  }
  .countdownComponent {
    flex-direction: column
  }

  .containerCountdownRegularAndChildren {
    margin: 2rem  auto;
    padding: 0 1rem;
    padding-bottom: 30px;
  }

  /*CONTADOR SIN BANNER*/


  .countdownRegular .title {
    font-size: 29px;
    line-height: 37px;
  }

  .countdownRegular .description {
    font-size: 18px;
    line-height: 23px;
  }


  /*FIN CONTADOR SIN BANNER*/
}



/* General styles for all banners */
.fullBanner {
  border-radius: 9px;
  /* Common styles for all banner classes */
}

/* Tablet-specific styles for fullBannerT */
@media (min-width: 768px) and (max-width: 1024px) {
  .fullBannerT {
    /* Styles for fullBannerT on tablets */
    display: block !important;
    /* Make the banner visible */
  }

  .fullBanner,
  .fullBannerM {
    display: none;
    /* Hide fullBanner and fullBannerM on tablets */
  }
}

/* Desktop-specific styles for fullBanner */
@media (min-width: 1025px) {
  .fullBanner {
    /* Styles for fullBanner on desktops */
    display: block;
    /* Make the banner visible */
  }

  .fullBannerT,
  .fullBannerM {
    display: none;
    /* Hide fullBannerT and fullBannerM on desktops */
  }
}

/* Mobile-specific styles for fullBannerM */
@media (max-width: 767px) {
  .fullBannerM {
    /* Styles for fullBannerM on mobiles */
    display: block !important;
    max-width: 375px;
    /* Make the banner visible */
  }

  .fullBanner,
  .fullBannerT {
    display: none;
    /* Hide fullBanner and fullBannerT on mobiles */
  }
}