.dealItemRemaining
{
    font-size: 13px;
}
.timeColor {
    font-weight: 700;
}
.timeBar {
    margin-top: 4px;
    width: 100%;
    background-color: brown;
    height:4px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .countdownBarFill {
    height: 100%;
    background-color: #e91111;
    /* background: linear-gradient(
      to right,
      #00ff00,
      #ffff00 50%,
      #ff0000
    );  */
    transition: width 1s linear;
  }


.countdownBarFill {
    background-color: crimson;
}