.CountdownPro {
    max-width: 1440px;
    margin: auto;
}

.CountdownPro .container {
    background-color: #C81A25;
    max-width: 1440px;
    height: 190px;
    margin: 0 auto 15px;
    padding: 15px 50px;
    /* background: url(/arquivos/bg-on.png) center center no-repeat; */
    /* background: url(/arquivos/bg-ob-BW-2022.jpg) center center no-repeat; */
    /* background: url(/arquivos/bkbm-1703.png) center center no-repeat; */
    background: url(/arquivos/bgbm-170323.png) center center no-repeat;
    
    background-size: cover;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.CountdownPro .textTimer {
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 2px 0;
}

.CountdownPro .timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #e40028;
}

.CountdownPro .unitTime {
    width: 75px;
    color: #000;
    font-size: 2.8em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CountdownPro .dots {
    font-size: 4em;
    line-height: 0;
    margin-bottom: 15px;
}

.CountdownPro .containerProducts {
    display: flex;
    gap: 25px;
}

.CountdownPro .containerProductTk1 {
    cursor: pointer;
}

.CountdownPro .containerProductTk2 {
    cursor: pointer;
}

.CountdownPro .logo {
    width: 350px;
    /* width: 200px; */
}



@media all and (max-width: 1490px) {
    .CountdownPro {
        margin: 0 10px;
    }
}

@media all and (max-width: 1000px) {
    .CountdownPro {
        margin: 0;
    }

    .CountdownPro .container {
        border-radius: 0;
        padding: 15px;
        gap: 0;
        flex-direction: column;
        /* background-image: url(/arquivos/bg-on-phone.png); */
        /* background-image: url(/arquivos/bg-ob-BW-2022-11-phone.jpg); */
        /* background-image: url(/arquivos/bkbm-1703-phone.png); */
        background-image: url(/arquivos/bgbm-170323-phone.png);
        height: auto;
    }

    .CountdownPro .logoTimer {
        display: flex;
        justify-content: center;
        /* flex-direction: row; */
        gap: 15px;
        align-items: center;
        margin-bottom: 15px;
    }

    .CountdownPro .logo {
        /* max-width: calc(50% - 15px); */
        max-width: 50%;
    }

    .CountdownPro .containerTimer {
        width: 50%;
    }

    .CountdownPro .timer {
        border-radius: 8px;
        padding: 8px;
    }

    .CountdownPro .textTimer {
        text-align: center;
        font-size: .8em;
        color: #000000;
        font-weight: bold;
    }

    .CountdownPro .unitTime {
        width: 55%;
        font-size: 25px;
    }

    .CountdownPro .dots {
        font-size: 2em;
        margin-bottom: 7px;
    }

    .CountdownPro .containerProducts {
        gap: 8px;
    }

    .CountdownPro .imgProductDeskTk {
        display: none;
    }

    .CountdownPro .imgProductMobileTk {
        display: block;
    }

}

@media all and (min-width: 1000px) {
    .CountdownPro .imgProductMobileTk {
        display: none;
    }

    .CountdownPro .imgProductDeskTk {
        display: block;
    }
}