.revealElement {
    opacity: 0;
    transition: opacity 1.4s ease-out, transform 1.4s ease-out;
    transform: translateY(50px);
  }
  
  .revealElement.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .revealBanner {
    opacity: 0;
    transition: opacity .5s ease-out, transform .5s ease-out;
    /* transform: translateY(50px); */
  }
  
  .revealBanner.visible {
    opacity: 1;
    /* transform: translateY(0); */
  }
  