.filtersContainer {
    width: 100%;
    max-width: 1245px;
    padding: 0 !important;
    margin: auto;
    gap: 1rem;
    display: flex;
    margin-top: 3rem;
}

.linkFilter {
    cursor: pointer;
    /* padding: 13px 7px; */
}
.imgFilter {
    border-radius: 1rem;
}
