.SpecificationsBlock {
    max-height: 120px;
}

.customSpecificationsContainer {
    padding: 1px;
}

.customSpecificationsContainer table {
    width: 100%;
}

.customSpecificationsContainer table td {
    padding: 9px;
}

.containerShowMore {
    padding: 16px;
}

.contentSpecifications {
    overflow-y: scroll;
}

@media screen and (min-width:600px) {
    .contentSpecifications {
        overflow-y: hidden !important;
    }
}