.titlePurchased {
  font-size: 24px;
  width: 100%;
  margin-bottom: 16px;
}

.containerPurchased {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--light-background);
  border-radius: 0px 37px 0px 37px;
  padding: 22px 22px 44px 22px;
  margin: 14px 11px 14px 11px;
}

.dotsito {
  height: 12px;
  width: 12px;
  margin: 0 5px;
}

.headerPurchased {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.bestPricePurchased {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}
.listPricePurchased {
  font-size: 16px;
  margin: 0;
}

.closePurchased {
  cursor: pointer;
}
.estilospe-frontend-applications-0-x-containerClassArrow:nth-last-child() {
  transform: rotate(180);
}

.containerImageCardPurchased {
  height: 119px;
  background-size: cover !important;
}

.brandPurchased {
  font-size: 15px;
}

.namePurchased {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardPurchased {
  cursor: pointer;
  padding: 0 17px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 21px;
}

.sliderLeftArrow[disabled] {
  display: none;
}

.arrowPrev > svg > path:hover,
.arrowNext > svg > path:hover {
  fill: var(--white) !important;
}

.sliderLeftArrow[disabled] {
  display: none;
}

.sliderRightArrow[disabled] {
  display: none;
}

@media screen and (max-width: 900px) {
  .cardPurchased {
    cursor: pointer;
    padding: 0 17px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 11px;
  }

  .containerPurchased {
    margin: 11px 0 18px 0;
    padding: 12px;
  }
  .containerImageCardPurchased {
    height: 87px;
  }
}
