
.shelfCTACard
{
    border: none;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: Outfit;
    color: #222;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    position: relative;
}

.shelfCTACard::before {
    content: "Solicitar tarjeta"
}

.shelfCTACard::after {
    right: 0;
    top: 0;
    content: "";
    display: block;
    position: absolute;
    width: 62px;
    height: 32px;
    background-image: url("https://estilospe.vtexassets.com/assets/vtex.file-manager-graphql/images/a13e9229-c244-428f-bd70-ab9e5fc46c64___e74fd41af0b2c18bfb1365e5758991da.svg");
    background-repeat: no-repeat !important;
}
@media (max-width: 768px) {
    .shelfCTACard {
        /* flex-direction: column; */
        /* align-items: flex-start; */
        font-size: 13px;
        padding: 4px 16px;
        font-weight: 400;
    }

    .shelfCTACard::after {
        width: 33px;
        height: 22px;
        background-size: cover;

    }
}