.minicartCheckoutButton {
    border-radius: 30px !important;
    color: #fff;
    font-weight: 700 !important;
    border: none;
    transition: all .3s;
    background-color:  #e91111 ;
    font-size: 17px !important;
    padding: 11px;
    display: block;
    width: 90%;
    margin: auto;

    font-family: Outfit Light, Fabriga, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;

}

.minicartCheckoutButton:hover {
    cursor: pointer;
    background-color: #e60b0b !important;
}