.formPreCyber{
    width: 100%;
    padding: 0 5px;
}
.title{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0; 
    font-weight: 500;
    font-size: 18px;
}
.containerForm{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.wrapEmailPhone{ 
    display: flex;
    width: 100%;
    gap: 20px;
}

.inputBx{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    width: 50%;
}

.emailBx, .phoneBx{
    width: 50%; 
}

.containerCheckbox{
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 8px;
}

.inputBx input[type=text]{
    outline: none;
    font-family: 'Outfit';
    /* padding: 7px 14px; */
    border-radius: 7px;
    font-size: 15px;
    border: 1px solid #e6e6e6;
    padding: 4px 14px;
}
.labelInputText{
    font-weight: 500;
    /* margin-left: 10px; */
    font-family: Outfit;
    font-size: 13px;
    margin-bottom: 4px;
}
.containerOpc{
    display: flex;
    align-items: center; 
}
.catHidden{
    display: none;
}
.containerOpc input[type="checkbox"],
.terminosVisible input[type="checkbox"],
.datasVisible input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    background: #DADADA;
    min-width: 18px;
    height: 18px;
    border-radius: 3px;
    transition: .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    z-index: 2;
}
.containerOpc input[type="checkbox"]:hover,
.terminosVisible input[type="checkbox"]:hover,
.datasVisible input[type="checkbox"]:hover{
    background: #4e4e4e;
}
.containerOpc input[type="checkbox"]:checked,
.terminosVisible input[type="checkbox"]:checked,
.datasVisible input[type="checkbox"]:checked{
    background: #222;
}
.containerOpc input[type="checkbox"]:checked::before,
.terminosVisible input[type="checkbox"]:checked::before,
.datasVisible input[type="checkbox"]:checked::before{
    content: url('./assets/check-solid-dark.svg');
    width: 15px;
}
.terminos{
    margin-top: 12px;
    margin-bottom: 0;
}
.datas{
    margin-left: 6px;
    font-size: 14px;
}
.terminosVisible, .datasVisible{
    display: flex;
    align-items: center;
}
.terminosVisible label{
    z-index: 2;
}
.terminos a{
    color: #ccc; 
    text-decoration: underline;
}

.terminos input[type="checkbox"] + label,
.datas input[type="checkbox"] + label{
    color: #ccc;
}

.terminos input[type="checkbox"]:checked + label,
.terminos input[type="checkbox"]:checked + label a,
.datas input[type="checkbox"]:checked + label{
    color: #000; 
}

.containerCheckbox label, .terminos label, .datas label{
    margin-left: 9px;
}

.containerSubmit{
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerSubmit input[type=submit]{
    padding: 10px 60px;
    cursor: pointer;
    border-radius: 5px; 
    border: none;
    background: #F73671;
    color: white;
    font-size: 20px;
    transition: .2s ease-in-out;
}
.containerSubmit input[type=submit]:hover{
    background: #fc6391;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
}

.errorText, .errorCheckbox{
    color: #FF2442;
    transform: translateY(-17px);
    opacity: 0;
    cursor: default;
    transition: .3s ease all;
    font-size: 0.8rem;
    z-index: -1;    
}
.errorCheckbox{
    margin: 0;
}

.errorCategory{
    display: block;
}

.poup{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -2;
    opacity: 0;
    font-size: 1.5rem;
    background: #fbfbfb;
    transition: .6s ease-in-out all; 
}

.thanks{
    margin: 0;
    color: #E52531;
    font-weight: 600;
}




.iconFiesta{
    transform: translateY(-18px);
}

.earlyDesktop{
    margin: 0;
    font-weight: 500;
}

.earlyMobile{
    display: none;
    font-weight: 500;
    margin: 5px 0 0 0;
}

.promotion{
    margin-top: 10px;
    font-weight: 500;
}

.closeP{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 20px;
    transform: translate(50%, -50%);
    background: #333;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 11px 6px 21px -9px rgb(0 0 0);
}

@media screen and (max-width:800px){ 
    .thanks{
        font-size: 18px;
    }
    .earlyDesktop{
        display: none;
    }

    .earlyMobile{
        display: initial;
    }

    .promotion{
        margin-top: 5px;
    }
    .containerOpc{
        position: relative; 
    }

    .nameBx, .lastNameBx, .emailBx, .phoneBx{
        width: 100%; 
    }

    .containerCheckbox label, .terminos label, .datas label {
        margin-left: 6px;
    }

    .inputBx{
        margin-bottom: 0;
    }

    .wrapEmailPhone{ 
        flex-direction: column;
        gap: initial;
    }
}