.containerQR {
  display: flex;
  gap: 2rem;
  font-family: Outfit;
  margin-bottom: 2rem;
}
.containerQR h2 {
    margin: 0;
    font-weight: 500;
    color: #3f3f40;
}
.imgWallets{
  height: 45px;
}
.containerThanks{
  font-family: Outfit;
  color: #3f3f40;
}
.titleThanks{
  font-size: 2.115rem;
  margin: 0;
  text-align: center;
}

.containerQRText{
  color: #3f3f40;
}
.messageTitle{
  color: #3f3f40;
  font-weight: 500;
  font-family: "Outfit Regular";
}
.regenerateButton {
  border: none;
  font-family: 'Outfit Light';
  background: #646060;
  padding: .32rem .78rem;
  border-radius: .76rem;
  color: #fff;
}