.moreProducts {
  border: 2px solid #e91111;
  border-radius: 1.5rem;
  color: #e91111;
  padding: 0.6rem 1.7rem;
  width: 100%;
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0.5rem;
}
