.deliveryPDP {
  display: flex;
}
.seeMoreParagraph {
  margin: 0;
}
.seeMore {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-family: Outfit;
  text-decoration: underline;
}
.DeliveryTitle {
  font-family: Outfit;
  font-size: 0.9rem;
  margin: 0;
  /* margin-bottom: 0.5rem; */
}
.optionsBlock {
  font-family: Outfit;
  font-size: 0.85rem;
  /* font-size: 0.9rem; */
  /* min-width: 100%; */
  width: 100%;
  /* justify-content: center; */
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.optionsResumeBlock {
  display: flex;
  justify-content: space-between;
  border-radius: 0.9rem;
  padding: 0.4rem 1rem;
  background: #fff;
  margin-bottom: 0.2rem;
  margin-left: -5px;
  border: 1px solid #d2d2d2;
}
@media screen and (max-width: 900px) {
  .optionsBlock {
    font-size: 1.05rem;
  }
}
.iconDeliveryPDP {
  width: 36px;
  height: 36px;
}
.paragraphFriendlyName {
  text-transform: capitalize;
}
.deliveryCircle {
  /* border: 1px solid #e91111; */
  height: 100%;
  /* padding: 3px 7px; */
  background: #fff;
  z-index: 995;
  border-radius: 111px;
}
.deliveryCircleDisabled {
  /* border: 1px solid rgb(112, 112, 112); */
  height: 100%;
  /* padding: 3px 7px; */
  background: #fff;
  z-index: 995;
  border-radius: 111px;
}
.noneSim {
  margin-top: 11px;
}
