.filterFake {
  background-color: var(--light-background) !important;
  border: 1px solid #e3e4e6;
  border-radius: 6px;
  
}
.filterFakeTitle{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}
.filterFakeTitle span{
    font-size: .99rem;
    margin-bottom: 1px solid 
    var(--light-background) !important;
    border: 1px solid #e3e4e6;
    font-weight: 400;
}
.filterFakeParagraph{
    margin: 0;
    padding: 0;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
    /* alig */
}
.filterFake{
    margin-bottom: 1rem;
}

.filterContainer {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0 0 6px 6px ;

}

.typeFilterFake {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}
.filterFakeBlock {
    cursor: pointer;
}
.markerFilterFake {
    height: auto;
    min-height: .89rem;
    max-height: .89rem;
    width: 1rem;
    background-color: #fff;
    border:  #737673 2px solid ;
    display: inline-block;
    border-radius: 3px;
    margin-right: .5rem;
}

.markerFilterFakeCurrent{
    background-color: #e91111;
}